.search-box {
    -fx-background-color:#FFFFFF;
    -fx-background-radius: 100;
}

.transparent {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.search-box-search-button {
    -fx-background-color: #828282;
    -fx-background-radius: 100;
}

.left-bar {
    -fx-background-color: #1e81b0;
}

.shadow {
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,1), 10.0, 0.0, 0.0, 10.0);
}

.list-view {
    -fx-background-radius: 25;
}

.top-bar-about-setting-button {
    -fx-background-radius: 50;
    -fx-background-color: #a8cff0;
}

.top-bar-button {
    -fx-background-radius: 25;
    -fx-background-color: #a8cff0;
}

.middle-bar {
    -fx-background-color: #bdc9c9;
}

.translate-bar {
    -fx-font-family: "Itim";
}

.show-explain {
    -fx-font-size: 24px;
    -fx-border-radius: 50px;
    -fx-border-color: black;
}


.definition-area{
    -fx-background-color: #fff, #fff;
}

.definition-area .content {
    -fx-background-color: #fff;
}

.definition-area:focused .content {
    -fx-background-color: #fff;
}

@font-face {
    src: url("/MultipleChoiceGame/font/Itim-Regular.ttf");
}

.root {
    -fx-background-color: #a8cff0;
}
.home {
    -fx-font-size: 40px;
    -fx-text-fill: #2f3c7e;
    -fx-font-family: "Itim";
}

.game-menu {
    -fx-background-radius: 20px;
    -fx-background-color: #fbeaeb;
    -fx-font-size: 32px;
    -fx-text-fill: #2f3c7e;
    -fx-font-family: "Itim";
}

.choice-btn {
    -fx-background-radius: 20px;
    -fx-background-color: #fbeaeb;
    -fx-font-size: 20px;
    -fx-text-fill: #2f3c7e;
    -fx-font-family: "Itim";
}

.choice-btn:hover {
    -fx-border-color: #2f3c7e;
    -fx-padding: 10px;
}

.choice-btn.next-btn:hover,
.game-menu:hover {
    -fx-background-color: #2f3c7e;
    -fx-text-fill: #fbeaeb;
}

.question {
    -fx-border-color: transparent;
    -fx-background-color: #fbeaeb;
    -fx-background-radius: 20px;
    -fx-font-size: 24px;
    -fx-text-fill: #2f3c7e;
    -fx-font-family: "Itim";
}

.list-cell{
    -fx-font-size: 18.0;
}
