.root {
    -fx-background-color: #2f3c7f;
}

.dictionary-btn {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-background-color: transparent;
}

.dictionary-btn:hover{
    -fx-background-color: #ccc;
    -fx-scale-x:1.15;
    -fx-scale-y:1.15;
}

.background {
    -fx-background-color: #dceff4;
}

.pane {
    -fx-background-color: #6b9bd1;
    -fx-background-radius: 12;
}
.search-field {
    -fx-background-color: #6b9bd1;
    -fx-background-radius: 20;
}

.scroll-pane > .viewport  {
    -fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;
; }
.search-bar {
    -fx-background-color: transparent;
    -fx-text-fill: #FFF;
}

.transparent {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.list-view{
    -fx-background-radius: 4px;
}

.list-cell{
    -fx-text-fill: #000;
    -fx-font-size: 16;
    -fx-background-radius: 2;
    -fx-border-radius: 2;
}
.list-cell:even{
    -fx-background-color: #f5f6fa;
}
.list-cell:odd {
    -fx-background-color: #eff0fb;
}
.list-cell:filled:hover,
.list-cell:filled:selected{
    -fx-background-color: #6b9bd1;
    -fx-text-fill: white;
}

.translate-field {
    -fx-text-fill: #6b9bd1;
    -fx-border-color: #6b9bd1;
    -fx-font-size: 18px;
    -fx-border-width: 1.5;
}

.header-translate {
    -fx-border-color: #6b9bd1;
    -fx-border-width: 1.5;
    -fx-background-radius: 7 7 0 0;
    -fx-border-radius: 7 7 0 0;
}

.trans-btn {
    -fx-background-color: #6b9bd1;
    -fx-text-fill: #2f3c7f;
}
.trans-btn:hover, .trans-btn:selected {
    -fx-background-color: #ccc;
}

.translate-bar {
    -fx-background-color: #fff;
    -fx-border-width: 1.5;
    -fx-border-color: #6b9bd1;
}
.show-explain {
    -fx-font-size: 24px;
    -fx-border-radius: 50px;
    -fx-border-color: black;
}


.header-add {
    -fx-border-color: #6b9bd1;
    -fx-border-width: 1.5;
    -fx-background-radius: 7 7 0 0;
    -fx-border-radius: 7 7 0 0;
}


