.root {
    -fx-background-color: #2f3c7f;
}

.dictionary-btn {
    -fx-border-radius: 12px;
    -fx-background-color: transparent;
}

.dictionary-btn:selected, .dictionary-btn:hover {
    -fx-background-color: #ccc;
}

.background {
    -fx-background-color: #dceff4;
}

.pane {
    -fx-background-color: #6b9bd1;
    -fx-background-radius: 16;
}
.search-field {
    -fx-background-color: #6b9bd1;
    -fx-background-radius: 20;
}

.search-bar {
    -fx-background-color: transparent;
    -fx-text-fill: #FFF;
}

.transparent {
    -fx-background-color: rgba(0, 0, 0, 0);
}
.list-view {
    -fx-font-size: 16px;
}

.list-cell:odd {
    -fx-background-color: #dceff4;
}

.list-cell:focused {
    -fx-background-color: #6b9bd1;
    -fx-text-fill: #fff;
}

.translate-field {
    -fx-text-fill: #6b9bd1;
    -fx-border-color: #6b9bd1;
    -fx-font-size: 18px;
    -fx-border-width: 1.5;
}

.header-translate {
    -fx-border-color: #6b9bd1;
    -fx-border-width: 1.5;
    -fx-background-radius: 7 7 0 0;
    -fx-border-radius: 7 7 0 0;
}

.trans-btn {
    -fx-background-color: #6b9bd1;
    -fx-text-fill: #2f3c7f;
}
.trans-btn:hover {
    -fx-background-color: #ccc;
}

.translate-bar {
    -fx-background-color: #fff;
    -fx-border-width: 1.5;
    -fx-border-color: #6b9bd1;
}
.show-explain {
    -fx-font-size: 24px;
    -fx-border-radius: 50px;
    -fx-border-color: black;
}


.definition-area{
    -fx-background-color: #fff, #fff;
}

.definition-area .content {
    -fx-background-color: #fff;
}

.definition-area:focused .content {
    -fx-background-color: #fff;
    -fx-border-color: black;
}


@font-face {
    src: url("/MultipleChoiceGame/font/Itim-Regular.ttf");
}



.home {
    -fx-font-size: 40px;
    -fx-text-fill: #2f3c7e;
    -fx-font-family: "Itim";
}

.game-menu {
    -fx-background-radius: 20px;
    -fx-background-color: #fbeaeb;
    -fx-font-size: 32px;
    -fx-text-fill: #2f3c7e;
    -fx-font-family: "Itim";
}

.choice-btn {
    -fx-background-radius: 20px;
    -fx-background-color: #fbeaeb;
    -fx-font-size: 20px;
    -fx-text-fill: #2f3c7e;
    -fx-font-family: "Itim";
}

.choice-btn:hover {
    -fx-border-color: #2f3c7e;
    -fx-padding: 10px;
}

.choice-btn.next-btn:hover,
.game-menu:hover {
    -fx-background-color: #2f3c7e;
    -fx-text-fill: #fbeaeb;
}

.question {
    -fx-border-color: transparent;
    -fx-background-color: #fbeaeb;
    -fx-background-radius: 20px;
    -fx-font-size: 24px;
    -fx-text-fill: #2f3c7e;
    -fx-font-family: "Itim";
}


